* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav {
    background-color: #000000;
    color: #ffffff;
}

.topnav a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    display: block;
    float: left;
}

.topnav a:hover {
    background-color: #ffffff;
    color: #000000;
}

.topnav2 a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
    display: block;
    float: left;
}

.topnav2 a:hover {
    background-color: black;
    color: antiquewhite;
}

.header {
    background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 0.8)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsvCDn_SodRLgrFCA3Kt1vNPM5XbGJF6E1ug&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: aliceblue;
    font-size: 70px;
    text-align: center;
    padding: 20px
}

.header h1 {
    text-transform: uppercase;
    padding: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

#about {
    padding: 10%;
    margin: 2px;
}

#about img {
    width: 110%;
    height: 500px;
    margin: 2px;
}

#about h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 2px;
}

#about h2 {
    font-size: 45px;
    margin: 2px;
}

#about p {
    font-size: 25px;
    margin: 2px;
    float: right;
}

#menu {
    padding: 10%;
}

#menu h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 10px;
}

#menu h5 {
    margin-top: 2%;
    font-size: 20px;
}

#menu p {
    font-size: 25px;
    margin: 10px;
}

#menu img {
    width: 90%;
    height: 500px;
}

#contact {
    padding: 10%;
    resize: vertical;
    display: block;
}

#contact h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin: 2px;
}

#contact h3 {
    font-size: 30px;
    margin: 2px;
}

#contact p {
    font-size: 25px;
    margin: 2px;
    padding: 20px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    height: 10px;
    font-size: 20px;
    height: 20px;
    margin: 1%;
    display: block;
    float: left;
}

.indicator {
    background-color: #dc143c;
    color: aliceblue;
    padding: 2px;
    border-radius: 10px;
}

.indicator2 {
    background-color: black;
    color: #ffffff;
    padding: 4px;
    border-radius: 20px;
}

.indicator3 {
    background-color: rgb(255, 174, 0);
    color: red;
    padding: 5px;
    border-radius: 20px;
}